--index-url https://download.pytorch.org/whl/cu118

docling
faiss-cpu
gradio
lancedb
langchain-text-splitters
langdetect
numpy
ollama
openai
pillow
pydicom
pypdf
sentence-transformers
tantivy
torch
torchvision
torchaudio
transformers
